body {
    margin: 0;
    font-family: Lato, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5px;
  }
  a:hover, a:focus, a:active {
    text-decoration: underline;
  }
  
  .calendar {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .dow {
    flex: 0 1 calc(100% / 3);
    max-width: calc(100% / 3);
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    display: none;
  }
  @media (min-width: 1200px) {
    .dow {
      display: block;
      flex: 0 1 calc(100% / 7);
      max-width: calc(100% / 7);
    }
  }
  
  .date {
    position: relative;
    background: #EFEFEC;
    padding: 40px 0;
    overflow: hidden;
    flex: 0 1 calc(100% - 10px);
    max-width: calc(100% - 10px);
    margin: 5px;
    padding-left: 60px;
  }
  .date a {
    display: inline-block;
  }
  .date:after {
    content: attr(data-number);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 24px;
  }
  .date:not(:empty) {
    background: #18453B;
  }
  .date:not(:empty):after {
    color: rgba(255, 255, 255, 0.6);
  }
  @media (min-width: 700px) {
    .date {
      padding-left: 0;
      flex: 0 1 calc(100% / 3 - 10px);
      max-width: calc(100% / 3 - 10px);
    }
    .date:after {
      top: 5px;
      left: initial;
      right: 5px;
      transform: initial;
      font-size: 1.5vw;
    }
  }
  @media (min-width: 1200px) {
    .date {
      flex: 0 1 calc(100% / 7 - 10px);
      max-width: calc(100% / 7 - 10px);
    }
  }
  @media (max-width: 699px) {
    .date:empty {
      display: none;
    }
  }
  @media (max-width: 1199px) {
    .date:not([data-number]) {
      display: none;
    }
  }
  
  .event {
    padding: 0 2vw 0 10px;
  }
  
  @supports (display: grid) {
    .calendar {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 5px;
    }
    @media (min-width: 700px) {
      .calendar {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(11, 1fr);
      }
    }
    @media (min-width: 1200px) {
      .calendar {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 5vh repeat(5, calc(19vh - 7px));
      }
    }
  
    .date {
      padding: 40px 10px 40px 60px;
      max-width: 100%;
    }
    @media (min-width: 700px) {
      .date {
        padding: 10px 0;
      }
    }
  
    .dow {
      align-self: center;
      justify-self: center;
      max-width: 100%;
    }
  }